{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% load static %}
{% block class %}class="sub_page" {% endblock %}
{% block home_status %}active{% endblock %}
{% block content %}
<section class="book_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>Sign Up</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form_container">
                    {% if form.errors %}
                        <p class="error-message">Please correct the errors below and try again.</p>
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        <div>
                            <input type="text" class="form-control" name="username" placeholder="User Name" required />
                          </div>
                        <div>
                            <input type="email" class="form-control" name="email" placeholder="Email" required />
                        </div>
                        <div>
                            <input type="password" class="form-control" name="password1" placeholder="Password" required />
                        </div>
                        <div>
                            <input type="password" class="form-control" name="password2" placeholder="Confirm Password" required />
                        </div>
                        <div class="btn_box">
                            <button type="submit">Sign Up</button>
                        </div>
                    </form>
                    <p>Already have an account? <a href="{% url 'Login' %}">Login here</a>.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}